<%- include("partials/header"); -%>
<h1 class="post-header">
    <%= post_title %>
</h1>
<p class="post-content">
    <%= post_content %>
</p>
<form action="/delete" method="post">
    <button class="btn btn-primary" type="submit">
        Delete
    </button>
    <input type="hidden" name="postid" value="<%= post_id %>">
</form>
<%- include("partials/footer"); -%>